# Supabase Local Development Defaults
NEXT_PUBLIC_SUPABASE_URL="`supabase status`のAPIs欄のProject URL"
NEXT_PUBLIC_SUPABASE_ANON_KEY="`supabase status`のAuthentication Keys欄のPublishable"
SUPABASE_SECRET_KEY="`supabase status`のAuthentication Keys欄のSecret"
